# LSTM Time Series - Stock Price Prediction
## Part 2 - Data Preprocessing
In this notebook, we load the filtered data set file containing the historical prices of Google stocks for the last five years and preprocess it.

> **INPUT**: The filtered data set file of the last five years stock prices for Google, as filtered in the previous phase. <br/>
> **OUTPUT**: The preprocessed and transformed data, split into training, validation, and testing subsets, and stored in an intermediary location for the training phase.

### 1. INITIALIZATION

In [1]:
# Import necessary libraries and modules
import pandas as pd

In [2]:
# Set output width
pd.set_option("display.width", 120)

### 2. LOADING DATASET

In [3]:
# Prepare data file location and name
data_file_location = "..//data//interim//"
data_file_name = "google_stock_price_recent"
data_file_ext = "csv"

# Load data file
data = pd.read_csv(data_file_location + data_file_name + "." + data_file_ext)

In [4]:
# Check loaded data shape
data.shape

(1323, 7)

In [5]:
# Check loaded data head
data.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-01-02  50.828499  52.616001  50.785500  52.292500  52.292500  30652000
1  2019-01-03  52.049999  52.848999  50.703499  50.803001  50.803001  36822000
2  2019-01-04  51.629501  53.542000  51.370899  53.535500  53.535500  41878000
3  2019-01-07  53.575001  53.700001  52.737999  53.419498  53.419498  39638000
4  2019-01-08  53.805500  54.228001  53.026501  53.813999  53.813999  35298000

In [6]:
# Check columns types
data.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

### 3. DATA PREPROCESSING

#### Validate Data Types

In [7]:
# Convert date column to a valid Datetime format
data["Date"] = pd.to_datetime(data["Date"])

# Check column types
data.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

#### Select Independent Features

The objective of this analysis is to implement a multi-variant prediction, taking into account possible impact of several independent features such as the Open price, Close price and Volume on future stock price performance.

For this reason, we will consider in this analysis all available variables: 
- Opening price
- Highest price
- Lowest price
- Closing price
- Adjusted closing price
- Trading volume

These features will be used to predict the future closing price.

In [8]:
# Define selected features and target attribute
features = ["Open", "High", "Low",	"Close", "Adj Close", "Volume"]
target = "Open"

#### Split Data into Train, Validation, and Test

In order to track and validate the performance of our model, we will divide the available dataset of recent stock prices into three parts: training, validation, and testing sets.

The split will be as follows:
- **Training dataset:** covering the period from the start of 2019 to the end of 2023.
- **Validation dataset:** representing the stock prices of the first month of 2024.
- **Testing dataset:** representing the stock prices of the second month of 2024.

In [9]:
# Define start and end time for each perdiod
train_end_date = pd.to_datetime("2023-12-31")
validate_start_date = pd.to_datetime("2024-01-01")
validate_end_date = pd.to_datetime("2024-01-31")
test_start_date = pd.to_datetime("2024-02-01")
test_end_date = pd.to_datetime("2024-02-29")

# Split dataset into training, validation, and testing
data_train = data[data["Date"] <= train_end_date]
data_validate = data[(data["Date"] >= validate_start_date) & (data["Date"] <= validate_end_date)]
data_test = data[(data["Date"] >= test_start_date) & (data["Date"] <= test_end_date)]

In [10]:
# Display the shape of each dataset
print(f"Training Set: {data_train.shape}")
print(f"Validation Set: {data_validate.shape}")
print(f"Testing Set: {data_test.shape}")

Training Set: (1258, 7)
Validation Set: (21, 7)
Testing Set: (20, 7)

In [11]:
# Display a summary of each dataset
print("Training Dataset:")
print(data_train.head())
print("Validation Dataset:")
print(data_validate.head())
print("Testing Dataset:")
print(data_test.head())

Training Dataset:
        Date       Open       High        Low      Close  Adj Close    Volume
0 2019-01-02  50.828499  52.616001  50.785500  52.292500  52.292500  30652000
1 2019-01-03  52.049999  52.848999  50.703499  50.803001  50.803001  36822000
2 2019-01-04  51.629501  53.542000  51.370899  53.535500  53.535500  41878000
3 2019-01-07  53.575001  53.700001  52.737999  53.419498  53.419498  39638000
4 2019-01-08  53.805500  54.228001  53.026501  53.813999  53.813999  35298000
Validation Dataset:
           Date        Open        High         Low       Close   Adj Close    Volume
1258 2024-01-02  139.600006  140.615005  137.740005  139.559998  139.559998  20071900
1259 2024-01-03  138.600006  141.089996  138.429993  140.360001  140.360001  18974300
1260 2024-01-04  139.850006  140.634995  138.009995  138.039993  138.039993  18253300
1261 2024-01-05  138.352005  138.809998  136.850006  137.389999  137.389999  15433200
1262 2024-01-08  138.000000  140.639999  137.880005  140.529999  140.529999  17645300
Testing Dataset:
           Date        Open        High         Low       Close   Adj Close    Volume
1279 2024-02-01  143.690002  144.619995  142.259995  142.710007  142.710007  25526900
1280 2024-02-02  140.889999  143.880005  138.169998  143.539993  143.539993  42116900
1281 2024-02-05  144.039993  146.669998  143.910004  144.929993  144.929993  29254400
1282 2024-02-06  145.960007  146.740005  144.520004  145.410004  145.410004  21517700
1283 2024-02-07  146.119995  147.000000  145.210007  146.679993  146.679993  21436100

#### Data Scaling

In [12]:
# Check the distribution of input features
data[features].describe()

              Open         High          Low        Close    Adj Close        Volume
count  1323.000000  1323.000000  1323.000000  1323.000000  1323.000000  1.323000e+03
mean    100.882880   102.042442    99.853834   100.974635   100.974635  2.882756e+07
std      31.078299    31.360869    30.780336    31.059813    31.059813  1.268332e+07
min      50.828499    52.374500    50.676800    50.803001    50.803001  6.936000e+06
25%      71.211247    71.905250    70.356251    70.992001    70.992001  2.076335e+07
50%     102.825996   103.927498   101.500000   102.751503   102.751503  2.575600e+07
75%     130.778503   132.021675   129.389999   130.440002   130.440002  3.287305e+07
max     155.080002   157.000000   154.132004   156.500000   156.500000  1.241400e+08

Looking at these details, it's noticeable and anticipated that all price values have similar distributions given they log the price fluctuation on daily basis.

Nevertheless, the trading volume represents a different aspect and it has a completely distinct distribution. 

Accordingly, input features need to be transformed into a unified scale and since the distribution doesn't indicate any outliers, we will use the [0,1] range to represent all features.